html,
*{
  margin: 0px;
  padding: 0px;    
  box-sizing: border-box;
}
.product-desc-box > #camionsito{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.product-desc-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;

}

body {
  margin: 0;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.w-50 {
  width: 50%;
}
.ml-yellow-bg-padding{
  background-color: #eac926;
  
}
.padding {
  padding: 24px;
}

main {
  width: 90%;
  text-align: center;
  margin: auto;
}
footer{
  text-align: center;
}
#ml-main-nav ul {
  list-style-type: none;
  padding-left: 0;
}

#ml-main-nav a {
  text-decoration: none;
  color: black;
}
#garantia{
  margin: 5px auto;
}
#condiciones{
    margin: 25px auto;
}
.burger-menu {
  background-color: #1259c3;
  text-align: center;
  font-size: 24px;
  width: 40px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

.banner {
  width: 100%;
}

/* Fonts & Texts */
body {
  font-family: "Roboto";
  font-size: 12px;
}
.ml-yellow-bg-padding{
  background-color: #eac926;
  padding-bottom: 20px;
} 
.text-title {
  font-size: 24px;
}

.text-price {
  margin: 1px 0px;
  font-size: 18px;
}
.text-discount {
  margin: 1px 0px;
  font-size: 16px;
  padding-left:10px;
}

.text-desc {
  color: gray;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
}
.text-center{
padding-left: 5px;
}
.search-bar{
 height: auto;
}


/* Colors ====================  */

.ml-yellow-text {
  color: #eac926;
}
.ml-blue-text {
  color: #03264c;
}
.ml-lb-text {
  color: #1259c3;
}
.ml-dark-text {
  color: #666;
}
.ml-light-text {
  color: #ebebeb;
}
.text-discount {
  color: #39b54a;
}
.ml-yellow-bg {
  background-color: #eac926;
}
.ml-blue-bg {
  background-color: #03264c;
}
#ml-lb-bg {
  color: blue;
  font-size: 30px;
  margin: 15px auto;
}
.ml-dark-bg {
  background-color: #666;
}
.ml-light-bg {
  background-color: #ebebeb;
}
#camionsito {
  color: #39b54a;
  font-size: 15px;      
  margin: 1px 0px;
  transition: transform 0.5s ease-in-out;
}
article{
  margin: 10px 0px;
}
.product-description{
  border: 1px solid #ebebeb;
  padding: 1 px;
  
}
.values-products{
  display: none;
}
/*animation*/

.product-desc:hover .values-products{
  display: block;
}
#camionsito:hover{
  transform: rotate(-90deg);
}
.product-desc:hover{
 box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2)
}
#ml-lb-bg:hover{
  color: #1896fe;
}
@media(max-width: 361px){

  #ml-main-nav ul {
    display: none;
  }
  .text-desc {
    display: none;
  }
  .w-50{
    text-align: left;
    width: 50%;
    padding:20px; 
  }
  .search-bar{
    text-align: right;
    margin-top: 20px;
  }
  .logo-and-leaceholder{
    display: flex; 
    padding: none;
    justify-content: space-between;
  }
  .text-center{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 12px;
    padding-top: 15px;
    margin-top: 65px;
    padding-left: 70px;
  }
  .burger-menu{
    justify-content: center;
    margin-top: 45px;
  }

}
@media(min-width: 362px){
  .burger-menu {
   display: none;
  }
}

@media(min-width:720px){
  *{
    font-size: 14px;
  }
  .header{
    padding: 5px;
    position: relative;  
  }
  .product{
    display: flex;
    margin: 50px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .camionsito{
    padding-right: 50px;
  }
  .product-desc{
    width: 50%;
    text-align: left;
    padding: 5px;
  }
  #ml-main-nav a {
  text-decoration: none;
  color: black;
  }
  .w-50{
    width: auto;
    max-width: 300px;
    margin:auto;
    margin-left:10px;
    
  }
  .logo-and-leaceholder{
    display: flex;
    margin: auto;
    padding: 30px 10px;
  }
  .text-center{
    margin: auto;
    margin-right: 40px;
    font-size: 15px;
  }
  .search-section{
    display: inline-block;
    max-width: 300px;
    margin: auto;
  }
  #ml-main-nav{
    display: flex;
    padding: 0px;

  
  }
  ul.store-options{
    display: flex;
    margin: auto;
   margin-left: 0px;
  }

  ul.store-options li{
    padding: 0px 5px;
  }
  ul.user-options{
    display: flex;
    margin: auto;
    margin-right: 0px;

  }
  ul.user-options li{
    padding: 0px 5px;
  }
 
}

@media(min-width:1300px){
  .product{
    display: flex;
    margin: 50px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .camionsito{
    padding-right: 20px;
  }
  .product-desc{
    width: 25%;
    text-align: left;
    padding: 5px;
  }
  .section-fotter{
    display: flex;
  }
  footer h3{
    text-align: left;
    margin-left: 10px;
  }
  #condiciones h3{
    text-align: center;
  }
}