body{
    font-family: 'Roboto';
}

header{
    background-color: #EAC926;
    font-family: 'Roboto';
}
main{
    text-align: center;
}
footer{
    font-size: 12px;
    text-align: center;
}
h3{
    font-size: 18px;
}
#titulares{
    font-size: 24px;
}
#promocion{
    text-align: center;
    color: black;
    font-size: 14px;
}
#busqueda{
   padding: 10%;
   color: white;
}
#opciones{
    font-size: 16px;
} 
#Copyright{
    text-align: left;
}
#item-footer{
    font-size: 30px;
    color: blue;
}
.burger-menu{
    color: blue;
    text-align: center;
    font-size: 30px;
}

li.encabesado{
    font-size: 16px;
    font-weight: bolder;
}